!!!
%html
  %head
    %title App
    %link{ rel: 'stylesheet', type: 'text/css', href: '/assets/application.css' }
    %script{ type: 'text/javascript', src: '/assets/application.js' }
  %body
    %h1 App
    %canvas#game-container{ width: '500', height: '500' }
